.overlay .button, .overlay .message, .customSelect, .overlay .select, .overlay .textarea, .overlay .text-input, .overlay .option-input + label, .overlay .checkbox-input + label, .overlay .label {
  padding: 0.75em 1em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  line-height: normal;
  border-radius: 0;
  border: none;
  background: none;
  display: block;
}

.overlay .label {
  font-weight: bold;
  color: black;
  padding-top: 0;
  padding-left: 0;
  letter-spacing: 0.025em;
  font-size: 1.125em;
  line-height: 1.25;
  position: relative;
  z-index: 100;
}
.required .overlay .label:after, .overlay .required .label:after {
  content: " *";
  color: #E8474C;
  font-weight: normal;
  font-size: 0.75em;
  vertical-align: top;
}

.customSelect, .overlay .select, .overlay .textarea, .overlay .text-input, .overlay .option-input + label, .overlay .checkbox-input + label {
  font: inherit;
  line-height: normal;
  width: 100%;
  box-sizing: border-box;
 background-color: white;
  color: black;
  position: relative;
  border:1px solid #36a2eb;
}
.customSelect:placeholder, .overlay .select:placeholder, .overlay .textarea:placeholder, .overlay .text-input:placeholder, .overlay .option-input + label:placeholder, .overlay .checkbox-input + label:placeholder {
  color: black;
}
.customSelect:-webkit-autofill, .overlay .select:-webkit-autofill, .overlay .textarea:-webkit-autofill, .overlay .text-input:-webkit-autofill, .overlay .option-input + label:-webkit-autofill, .overlay .checkbox-input + label:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #111111 inset;
  -webkit-text-fill-color: white;
  border-top-color: #111111;
  border-left-color: #111111;
  border-right-color: #111111;
}
.customSelect:not(:focus):not(:active).error, .overlay .select:not(:focus):not(:active).error, .overlay .textarea:not(:focus):not(:active).error, .overlay .text-input:not(:focus):not(:active).error, .overlay .option-input + label:not(:focus):not(:active).error, .overlay .checkbox-input + label:not(:focus):not(:active).error, .error .customSelect:not(:focus):not(:active), .error .overlay .select:not(:focus):not(:active), .overlay .error .select:not(:focus):not(:active), .error .overlay .textarea:not(:focus):not(:active), .overlay .error .textarea:not(:focus):not(:active), .error .overlay .text-input:not(:focus):not(:active), .overlay .error .text-input:not(:focus):not(:active), .error .overlay .option-input + label:not(:focus):not(:active), .overlay .error .option-input + label:not(:focus):not(:active), .error .overlay .checkbox-input + label:not(:focus):not(:active), .overlay .error .checkbox-input + label:not(:focus):not(:active) {
  background-size: 8px 8px;
  background-image: linear-gradient(135deg, rgba(232, 71, 76, 0.5), rgba(232, 71, 76, 0.5) 25%, transparent 25%, transparent 50%, rgba(232, 71, 76, 0.5) 50%, rgba(232, 71, 76, 0.5) 75%, transparent 75%, transparent);
  background-repeat: repeat;
}
.form:not(.has-magic-focus) .customSelect.customSelectFocus, .form:not(.has-magic-focus) .customSelect:active, .form:not(.has-magic-focus) .select:active, .form:not(.has-magic-focus) .textarea:active, .form:not(.has-magic-focus) .text-input:active, .form:not(.has-magic-focus) .option-input + label:active, .form:not(.has-magic-focus) .checkbox-input + label:active, .form:not(.has-magic-focus) .customSelect:focus, .form:not(.has-magic-focus) .select:focus, .form:not(.has-magic-focus) .textarea:focus, .form:not(.has-magic-focus) .text-input:focus, .form:not(.has-magic-focus) .option-input + label:focus, .form:not(.has-magic-focus) .checkbox-input + label:focus {
  background: #36a2eb2b;
}

.overlay .message {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  font-size: 0.625em;
  color: white;
}

.overlay .option-input, .overlay .checkbox-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.overlay .option-input + label, .overlay .checkbox-input + label {
  display: inline-block;
  width: auto;
  color: #4E4E4E;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.overlay .option-input:focus + label, .overlay .checkbox-input:focus + label, .overlay .option-input:active + label, .overlay .checkbox-input:active + label {
  color: #4E4E4E;
}
.overlay .option-input:checked + label, .overlay .checkbox-input:checked + label {
  color: white;
}

.overlay .button {
  font: inherit;
  line-height: normal;
  cursor: pointer;
  background-color: #36a2eb;
  color: white;
  font-weight: bold;
  width: auto;
  margin-left: auto;
  font-weight: bold;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 200px;
  text-align:center; // doèasné øešení
}
.overlay .button:hover, .overlay .button:focus, .overlay .button:active {
  color: white;
  border-color: white;
}
.overlay .button:active {
  position: relative;
  top: 1px;
  left: 1px;
}


main {
height:auto;
  text-align:left;
  /*max-width: 40em;
  padding:1em;
  margin: 0 auto;
  position: relative;
  */
  display: flex;
  background:white;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.overlay .field {
  width: 100%;
  margin: 0 0 1.5em 0;
}
@media screen and (min-width: 40em) {
  .overlay .field.half {
    width: calc(50% - 1px);
  }
}
.overlay .field.last {
  margin-left: auto;
}
.overlay .textarea {
  max-width: 100%;
}
.overlay .select {
  text-indent: 0.01px;
  text-overflow: "" !important;
}
.overlay .select::-ms-expand {
  display: none;
}
.overlay .checkboxes, .overlay .options {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
}
.overlay .checkbox, .overlay .option {
  float: left;
  margin: 1px;
}
.overlay .customSelect {
  pointer-events: none;
}
.overlay .customSelect:after {
  content: "";
  pointer-events: none;
  width: 0.5em;
  height: 0.5em;
  border-style: solid;
  border-color: white;
  border-width: 0 3px 3px 0;
  position: absolute;
  top: 50%;
  margin-top: -0.625em;
  right: 1em;
  transform-origin: 0 0;
  transform: rotate(45deg);
}
.overlay .customSelect.customSelectFocus:after {
  border-color: white;
}
.magic-focus {
  position: absolute;
  z-index: 0;
  width: 0;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.15);
  transition: top 0.2s, left 0.2s, width 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
  will-change: top, left, width;
  transform-origin: 0 0;
}
.overlay .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  flex-wrap: wrap;
}
.overlay .button {
  margin-left: 0 !important;
}