:root{
    --nav-text: black;
    --nav-pridat-barva: rgb(32, 136, 32);
    --nav-odstranit-barva: rgb(190, 28, 28);
    --lm-color: rgb(19, 94, 215);
    --table-hover: rgba(161, 159, 159, 0.637);
}

#pridat-firmu-text{
    color: var(--nav-pridat-barva)
}

#pridat-firmu-text:hover{
    color: var(--nav-text);
}
#pridat-firmu-btn:hover{
   background-color: var(--nav-pridat-barva);
   transition-duration: 0.3s;
}

#odstranit-firmu-text{
    color: var(--nav-odstranit-barva);
}
#odstranit-firmu-text:hover{
    color: var(--nav-text);
}

#odstranit-firmu-btn:hover{
    background-color: var(--nav-odstranit-barva);
    transition-duration: 0.3s;
}

#burger-menu{
    color: black;
    font-size: 1.2em;
}
#burger-menu:hover{
    color: var(--lm-color);

}
main{
    width: 85%;
    margin: auto;
}
.table-content{
    cursor: pointer;
    z-index: 1;
}

.table-content:hover{
    background-color: var(--table-hover);
}






/*Login*/
body#login{

    overflow: hidden;

}

.bg{
    z-index: -1;
}
.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  -webkit-animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#loginBtn{
    background-color: black;
    color: white;
}
#loginBtn:hover{
    background-color: rgb(19, 94, 215);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
svg:hover{
    transition: 0.6s;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.form-signin input[type="username"]:hover {
    transition: 0.6s;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
  .form-signin input[type="password"]:hover {
    transition: 0.6s;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
    

