
*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.insert-box{
    background-color: #adadad;
    margin: 0 auto;
    width: 40%;
}
.container {
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.box-text {
color: white;
margin: 0;
font-weight: bold;
}
form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
.box-input {
    width: 48%;
}
.box-input input[type=text],.box-input input[type=email],.box-input input[type=tel] {
    font-size: 17px;
    border: none;
    background-color: transparent;
    border-bottom: 4px solid white;
    outline: none;
    color: white; 
    width: 100%; 
}

.box-input input::placeholder{
    color: lightgray;
    font-weight: bold;
}
.box-input input[type=date]{
    color: white;
}
.box-input label{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.box-input input[type=date]{
    color: black;
}
.box-submit input {
    font-size: 18px;
    padding: 5px 10px;
}
.box-submit {
    margin-top: 20px;
}
select {
    margin-top: 10px;
    height: 200px;
    min-width: 200px;
}

