body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #888;
    text-align: left;
    background-color: #222222;
}
*, *, * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.lead{
    font-size: 1.25 rem;
    font-weight: 300;
    color: white;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #FF7851;
    --orange: #fd7e14;
    --yellow: #FFCE67;
    --green: #56CC9D;
    --teal: #20c997;
    --cyan: #6CC3D5;
    --white: #fff;
    --gray: #888;
    --gray-dark: #343a40;
    --primary: #78C2AD;
    --secondary: #F3969A;
    --success: #56CC9D;
    --info: #6CC3D5;
    --warning: #FFCE67;
    --danger: #FF7851;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.dt-top, .dt-bottom {
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    cursor: default;
    background: #222222;
   
}
.dt-dropdown{
    
    color: white;
}
.dt-top .dt-selector, .dt-bottom .dt-selector {
    padding: 6px;
    background: #222222;
    color: white;
}
select{
    word-wrap: normal;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark (black,white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0px;
}
button,select {
    text-transform: none;
}
input,button,select,optgroup,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.dt-input {
    padding: 6px 12px;
    background: #222222;     
}
::placeholder{
    color: white;
}

button,input{
    overflow: visible;
}
div {
display: block;
}
.dt-container {
    position: relative;
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    color: white;
    background: #222222;
    max-height: 760px;
}
.dt-container .dt-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    margin-top: -20%;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(255,255,255,0) 0, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    
}
.hidden {
display: none !important;
opacity: 0 !important;
}
.dt-table {
    max-width: 100%;
    width: 100%;
    border-spacing:0 ;
}
.table-bordered {
    border: 1px solid rgba(0,0,0,0.05);
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #888;
    border-collapse: collapse;
    text-indent:  initial;
    display: table;
     box-sizing: border-box ;
     border-spacing: 2px;
     border-color: grey;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.dt-table {
max-width: 100%;
width: 100%;
border-spacing:0;
}
tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
.dt-table th.dt-sorter {
    position: relative;
    cursor: pointer;
    padding-right: 20px;
    color: white;
}
.dt-sorter-company{
    background: #222222;
    color: white;
}


.dt-table>thead>tr>th, .dt-table>thead>tr>td {
    vertical-align: bottom;
    text-align: left;
    border-bottom: 1px solid #d9d9d9;
}
.dt-table>tbody>tr>td, .dt-table>tbody>tr>th, .dt-table>tfoot>tr>td, .dt-table>tfoot>tr>th, .dt-table>thead>tr>td, .dt-table>thead>tr>th {
    vertical-align: top;
    padding: 8px 10px;
    white-space: nowrap;
}
.table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid rgba(0,0,0,0.05);
}
.container {
    margin: 150px 50px;
    
}
h1, .h1 {
font-size: 2.5rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
input[type="text" i] {
    padding: 1px 2px;
}
input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: internal-light-dark(black,white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering:logical;
    cursor: text;
    background-color: internal-light-dark(rgb(255,255,255),rgb(59,59,59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.dt-table th {
    vertical-align: bottom;
    text-align: left;
}
.table-boarded th, .table-boarded td {
border: 1 px solid rgba(0,0,0,0.05);
}
.table th, .table td{
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid rgba(0,0,0,0.05);
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    color: white;
}
.dr-table{
    max-width: 100%;
    width: 100%;
    border-spacing: 0;
}
td:nth-child(even){
display: table-cell;
vertical-align: inherit;
}
.dt-top, .dt-bottom {
padding: 8px 10 px;
display: flex;
justify-content: space-between;
}
*, *, * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dt-top .dt-info, .dt-bottom .dt-info {
    margin: 7px 0;
}
.dt-pagination ul {
    margin: 0;
    padding-left: 0;
}
ol, ul, dl {
margin-top: 0;
margin-bottom: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}
.dt-pagination ul li {
    list-style: none;
    float: left;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.dt-pagination .pager a {
    font-weight: bold;
}
.dt-pagination a, .dt-pagination span {
    border: 1px solid transparent;
    float: left;
    margin-left: 2px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    color: inherit;
}
a {
color: #78C2AD;
text-decoration: none;
background-color: transparent;
}
div.tables{
    width: 100px;
    display: inline-block;
    vertical-align: top;
}
tr td:first-child, tr th:first-child {
    position: sticky !important;
    left: 0;
    z-index: 2;
    background-color: #222222;
  }
  .buttons a
{
   display: inline-block;
   width: 100%;       /* set to 100% */
   height: 100%;      /* set to 100% */
   margin-bottom: 0.5em;
   padding-top: .6em;
   padding-bottom: .6em;
   color: #fff;
   background-color: #aaabbb;
   border-radius: 5px;
   border: solid #cccccc 1px;
   box-shadow: 2px 2px 1px #888888;
   clear:right;
   float:right;
}
.bn49 {
    border: 0;
    text-align: center;
    display: inline-block;
    padding: 14px;
    width: 150px;
    margin: 7px;
    color: #ffffff;
    background-color: #36a2eb;
    border-radius: 8px;
    font-family: "proxima-nova-soft", sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition: box-shadow 200ms ease-out;
  }
